<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Puritan:wght@400;700&display=swap" rel="stylesheet">
    <title>{% block title %}BlogDaily User dashboard{% endblock %}</title>
</head>

<body>
    <div class="md:flex md:items-top">
        <!--side nav for web UI-->
        <div class="fixed z-[9999] top-0 w-full md:h-full left-0 md:w-[230px] bg-[#134e4a] py-[30px]">
            <div class="w-full space-x-[20px] flex items-center py-[10px] px-[25px]">
                <div class="text-[#fff]">
                    <div class="rounded-full w-6 h-6 bg-[#fff]"></div>
                </div>
                <div>
                    <div class="font-[500] text-[17px] text-[#fff]">Good day!</div>
                    <div class="font-[700] leading-[17px] text-[17px] text-[#fff]">{{ user.name }}</div>
                </div>
            </div>
            <!--end first good day-->
            <!--post tag-->
            <div class="w-full hidden md:block mt-[60px] space-x-[20px] flex items-center py-[10px] px-[50px]">
                <a href="/" class="space-x-[20px] flex items-center w-full">
                    <div class="text-[#fff]">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M7.5 7.5h-.75A2.25 2.25 0 004.5 9.75v7.5a2.25 2.25 0 002.25 2.25h7.5a2.25 2.25 0 002.25-2.25v-7.5a2.25 2.25 0 00-2.25-2.25h-.75m0-3l-3-3m0 0l-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 012.25 2.25v7.5a2.25 2.25 0 01-2.25 2.25h-7.5a2.25 2.25 0 01-2.25-2.25v-.75" />
                        </svg>
                    </div>
                    <div>
                        <div class="font-[500] text-[14px] text-[#fff]">Post</div>
                    </div>
                </a>
            </div>
            <!--end post tag-->
            <!--setting tag-->
            <div class="w-full mt-[60px] hidden md:flex space-x-[20px] flex items-center py-[10px] px-[50px]">
                <div class="text-[#fff]">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
                    </svg>
                </div>
                <div>
                    <div class="font-[500] text-[14px] text-[#fff]">Setting</div>
                </div>
            </div>
            <!--end setting tag-->
            <!--logout tag-->
            <div class="absolute hidden md:block bottom-0 mb-[50px]">
                <div class="w-full mt-[60px] space-x-[20px] flex items-center py-[10px] px-[50px]">
                    <div class="text-[#fff]">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                        </svg>
                    </div>
                    <a href="{{ url_for('logout') }}">
                        <div>
                            <div class="font-[500] text-[14px] text-[#fff]">Logout</div>
                        </div>
                    </a>
                </div>
            </div>
            <!--end logout tag-->
            <!--mobile selection-->
            <div class="md:hidden px-[30px] flex items-center space-x-[2px]">
                <div class="w-full space-x-[20px] flex items-center">
                    <a href="/" class="space-x-[20px] flex items-center w-full">
                        <div class="text-[#fff]">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M7.5 7.5h-.75A2.25 2.25 0 004.5 9.75v7.5a2.25 2.25 0 002.25 2.25h7.5a2.25 2.25 0 002.25-2.25v-7.5a2.25 2.25 0 00-2.25-2.25h-.75m0-3l-3-3m0 0l-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 012.25 2.25v7.5a2.25 2.25 0 01-2.25 2.25h-7.5a2.25 2.25 0 01-2.25-2.25v-.75" />
                            </svg>
                        </div>
                        <div>
                            <div class="font-[500] text-[14px] text-[#fff]">Post</div>
                        </div>
                    </a>
                </div>
                <!--end post tag-->
                <!--setting tag-->
                <div class="w-full space-x-[20px] flex items-center">
                    <div class="text-[#fff]">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
                        </svg>
                    </div>
                    <div>
                        <div class="font-[500] text-[14px] text-[#fff]">Setting</div>
                    </div>
                </div>
                <!--end setting tag-->
                <!--logout tag-->
                <div class="">
                    <div class="w-full space-x-[20px] flex items-center">
                        <div class="text-[#fff]">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                            </svg>
                        </div>
                        <a href="{{ url_for('logout') }}">
                            <div>
                                <div class="font-[500] text-[14px] text-[#fff]">Logout</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!--end mobile selection-->
        </div>
        <!--end side nav-->
        <!--begin side real content-->
        <div class="md:ml-[260px] w-[95%] pb-[30px] md:w-[65%] lg:w-[80%] mt-[120px] md:mt-[0px] lg:mt-[0px]">
            <div class="py-[40px] sticky h-fit w-full">
                <a href="{{ url_for('create' ,id = user.id) }}">
                    <div
                        class="float-right flex items-center space-x-[5px] bg-[#059669] cursor-pointer font-[600] text-[#fff] text-[15px] text-center rounded-[10px] py-[10px] leading-[18px] px-[20px]">
                        <div class="text-[#fff] font-[600]">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </div>
                        <div>Create Post</div>
                    </div>
                </a>
            </div>
            <!--user_posts-->
            <div class="mt-[60px] w-full py-[10px] px-[25px]">
                <!--begin for success-->
                {% with success = get_flashed_messages(category_filter=["success"]) %}
                {% if success %}
                <div id="success"
                    class="bg-[#4ade80] flex space-x-[10px] items-center p-[10px] text-[#fff] text-[14px] w-full md:w-[50%]">
                    <div id="close" class="close cursor-pointer font-[600] text-[16px]" href="javascript:void(0)">×
                    </div>
                    <div>
                        {%- for msg in success %}
                        <span>{{ msg }}, {{ user.name }}</span>
                        {% endfor -%}
                    </div>
                </div>
                {% endif %}
                {% endwith %}
                <!--end for success-->
                <!--failed deleted message-->
                {% with error = get_flashed_messages(category_filter=["error"]) %}
                {% if error %}
                <div id="error"
                    class="bg-red-900 flex space-x-[10px] items-center p-[10px] text-[#fff] text-[14px] w-full md:w-[50%]">
                    <div id="close" class="close cursor-pointer font-[600] text-[16px]" href="javascript:void(0)">×
                    </div>
                    <div>
                        {%- for msg in error %}
                        <span>{{ msg }}, {{ user.name }}</span>
                        {% endfor -%}
                    </div>
                </div>
                {% endif %}
                {% endwith %}
                <!--end failed deleted message-->
                <div class="font-[700] text-[#000] text-[25px] md:text-[35px]">User posts.</div>
                <div class="font-[400] text-[#a8a29e] text-[12px] md:text-[15px]">Hey {{ user.name }}, you can only
                    place action on
                    your post and not others.</div>
                <!--post-->
                <div class="flex flex-row flex-wrap mt-[30px] items-center w-full">
                    {% for blog in blogs %}
                    {% if user.name == blog.author %}
                    <div
                        class="bg-[#f9fafb] h-fit md:h-fit mt-[30px] ml-[10px] overflow-y-scroll p-[10px] shadow-lg w-full md:w-[45%] rounded-[6px]">
                        <div class="font-[700] text-[15px] text-[#134e4a]">{{ blog.title }}</div>
                        <div class="content font-[500] overflow-scroll h-fit w-full text-[15px] text-[#000] mt-[10px]">
                            <div class="overflow-scroll w-fit">{{ blog.content }}</div>
                        </div>
                        <div class="font-[500] text-[12px] md:text-[15px] text-[#134e4a] mt-[5px]">Created at: {{
                            blog.date }} by
                            {{ blog.author }}</div>
                        <div class="mt-[5px] text-right w-full">
                            <div class="flex space-x-[7px] float-right">
                                <a href="{{ url_for('update' ,id = blog.id) }}">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                        </svg>
                                    </div>
                                </a>
                                <!--delete svg-->
                                <a href="{{ url_for('delete' ,id = blog.id) }}">
                                    <div class="text-red-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                        </svg>
                                    </div>
                                </a>
                                <!--end delete svg-->
                            </div>
                        </div>
                        <!--added edit and delete button-->
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!--end post-->
            </div>
            <!--end user_posts-->
        </div>
        <!--end side real content-->
    </div>
    <!--end the flex sideways segment-->
</body>

<style>
    body {
        font-family: 'Puritan', sans-serif;
        user-select: none;
    }

    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #000;
    }

    /**/
    .content::-webkit-scrollbar {
        width: 2px;
        height: 1px;
    }

    .content::-webkit-scrollbar-track {
        background: transparent;
        width: 1px;
    }

    .content::-webkit-scrollbar-thumb {
        background: #000;
    }
</style>

</html>