<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Puritan:wght@400;700&display=swap" rel="stylesheet">
    <title>{% block title %}BlogDaily |Login{% endblock %}</title>
</head>

<body>
    <header class="w-full fixed top-0 left-0 py-[20px] text-[#fff] bg-[#134e4a]">
        <div class="flex justify-between w-[90%] items-center mx-auto md:w-[80%] lg:w-[80%]">
            <div class="font-[700] text-[21px]">BlogDaily</div>
            <div class="md:flex hidden space-x-[20px] justify-between items-center">
                <a href="{{ url_for('login') }}">
                    <div class="font-[500] cursor-pointer text-[16px]">Login</div>
                </a>
                <a href={{ url_for('signup') }}>
                    <div
                        class="font-[700] cursor-pointer bg-[#047857] py-[8px] px-[15px] rounded-full w-fit text-[16px]">
                        Create Account
                    </div>
                </a>
            </div>
            <!--mobile view drop-->
            <!--end mobile view drop-->
        </div>
    </header>
    <!--end header-->
    <div class="mx-auto w-[90%] md:w-[80%] lg:w-[80%]">
        <div class="font-[600] text-[25px] text-[#000] mt-[60%] md:mt-[130px]">Login</div>
        <!--messages-->
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="bg-[#dc2626] flex space-x-[10px] items-center p-[10px] text-[#fff] text-[14px] w-full md:w-[50%]">
            <a class="close font-[600] text-[16px]" href="javascript:void(0)">×</a>
            <div>
                {%- for msg in errors %}
                <span>{{ msg }}</span>
                {% endfor -%}
            </div>
        </div>
        {% endif %}
        {% endwith %}
        <!--begin for success-->
        {% with success = get_flashed_messages(category_filter=["success"]) %}
        {% if success %}
        <div class="bg-[#4ade80] flex space-x-[10px] items-center p-[10px] text-[#fff] text-[14px] w-full md:w-[50%]">
            <a class="close font-[600] text-[16px]" href="javascript:void(0)">×</a>
            <div>
                {%- for msg in success %}
                <span>{{ msg }}</span>
                {% endfor -%}
            </div>
        </div>
        {% endif %}
        {% endwith %}
        <!--end for success-->
        <!--end messages-->
        <!--form-->
        <form action="{{ url_for('login') }}" method="POST" class="mt-[15px]">
            <!--email-->
            <div class="mt-[9px]"><label for="email" class="font-[500] text-[14px] text-[#000]">Email</label></div>
            <div>
                <input autocomplete="no" type="text" name="email" id="email" placeholder="Enter your email address"
                    class="w-full md:w-[50%] border-[1px] border-[#000] rounded-[5px] py-[10px] px-[15px] mt-[5px] focus:outline-none">
            </div>
            <!--password-->
            <div class="mt-[9px]"><label for="password" class="font-[500] text-[14px] text-[#000]">Password</label>
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Enter your password"
                    class="w-full md:w-[50%] border-[1px] border-[#000] rounded-[5px] py-[10px] px-[15px] mt-[5px] focus:outline-none">
            </div>
            <!--end form inputs-->
            <!--submit-->
            <button type="submit"
                class="mt-[10px] font-[600] text-[#fff] rounded-[5px] leading-[17px] py-[8px] px-[13px] text-[17px] bg-[#134e4a]">
                Login
            </button>
            <!--end submit-->
        </form>
        <!--end form-->
    </div>
</body>

<style>
    body {
        font-family: 'Puritan', sans-serif;
    }

    .ca:hover {
        animation: motion-out 1s ease-in-out forwards;
    }

    @keyframes motion-out {
        0% {
            transform: scaleY(0.7);
        }

        50% {
            background-color: #22c55e;
        }

        100% {
            transform: scale(1);
        }
    }
</style>

</html>